{% extends parent_template %}

{% block opendaylight_install %}
  {% if base_package_type == 'rpm' %}
    {% set opendaylight_packages = ['java-1.8.0-openjdk'] %}
  {% elif base_package_type == 'deb' %}
    {% set opendaylight_packages = ['openjdk-8-jre'] %}
  {% endif %}

{{ macros.install_packages(opendaylight_packages | customizable("packages")) }}

ADD opendaylight-archive /opendaylight
RUN ln -s /opendaylight/* /opt/opendaylight
{% endblock %}
