{
    "command": "nova-compute",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/nova.conf",
            "dest": "/etc/nova/nova.conf",
            "owner": "nova",
            "perm": "0600"
        }{% if enable_ceph | bool %},
        {
            "source": "{{ container_config_directory }}/ceph.client.nova.keyring",
            "dest": "/etc/ceph/ceph.client.nova.keyring",
            "owner": "nova",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/ceph.conf",
            "dest": "/etc/ceph/ceph.conf",
            "owner": "nova",
            "perm": "0600"
        }{% endif %}
    ]
}
