{
    "command": "/usr/bin/nova-network",
    "config_files": [
        {
            "source": "/opt/kolla/config_files/nova.conf",
            "dest": "/etc/nova/nova.conf",
            "owner": "nova",
            "perm": "0600"
        }
    ]
}
