{
    "command": "/usr/sbin/libvirtd --listen",
    "config_files": [
        {
            "source": "/opt/kolla/config_files/libvirtd.conf",
            "dest": "/etc/libvirt/libvirtd.conf",
            "owner": "root",
            "perm": "0600"
        }{% if enable_ceph | bool %},
        {
            "source": "/opt/kolla/config_files/secrets",
            "dest": "/etc/libvirt/secrets",
            "owner": "root",
            "perm": "0600"
        },
        {
            "source": "/opt/kolla/config_files/ceph.conf",
            "dest": "/etc/ceph/ceph.conf",
            "owner": "root",
            "perm": "0600"
        }{% endif %}
    ]
}
