{% set python_path = '/usr/lib/python2.7/site-packages' if kolla_install_type == 'binary' else '/var/lib/kolla/venv/lib/python2.7/site-packages' %}
Listen {{ hostvars[inventory_hostname]['ansible_' + api_interface]['ipv4']['address'] }}:80

<VirtualHost *:80>
    LogLevel warn
    ErrorLog /var/log/kolla/horizon/horizon.log
    CustomLog /var/log/kolla/horizon/horizon-access.log combined

    WSGIScriptReloading On
    WSGIDaemonProcess horizon-http processes=5 threads=1 user=horizon group=horizon display-name=%{GROUP} python-path={{ python_path }}
    WSGIProcessGroup horizon-http
    WSGIScriptAlias / {{ python_path }}/openstack_dashboard/wsgi/django.wsgi
    WSGIPassAuthorization On

    <Location "/">
        Require all granted
    </Location>

    Alias /static {{ python_path }}/static
    <Location "/static">
        SetHandler None
    </Location>
</Virtualhost>

{% if kolla_enable_tls_external | bool %}
Header edit Location ^http://(.*)$ https://$1
{% endif %}
