[DEFAULT]
debug = true
{% if publisher %}
namespace = kolla
{# TODO(mgoddard): Remove tag_suffix when CentOS 7 is no longer supported. #}
{% set tag_suffix = '-centos8' if ansible_distribution == 'centos' and ansible_distribution_major_version == '8' else '' %}
{% set tag_suffix = '-' ~ base_arch if base_distro == 'debian' and install_type == 'source' else '' %}
tag = {{ (zuul.tag if zuul.pipeline == "release" else zuul.branch | basename) ~ tag_suffix }}
{% endif %}
push = false
logs_dir = {{ kolla_build_logs_dir }}
template_override = /etc/kolla/template_overrides.j2
