# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
pbr>=1.6 # Apache-2.0
docker-py<1.8.0,>=1.6.0 # Apache-2.0
Jinja2>=2.8 # BSD License (3 clause)
gitdb>=0.6.4 # BSD License (3 clause)
GitPython>=1.0.1 # BSD License (3 clause)
six>=1.9.0 # MIT
oslo.config>=3.14.0 # Apache-2.0
graphviz!=0.5.0,>=0.4.0 # MIT License
setuptools!=24.0.0,>=16.0 # PSF/ZPL
pycrypto>=2.6 # Public Domain
netaddr>=0.7.13,!=0.7.16  # BSD
