# NOTE(mnasiadka): Keeping 2.17 to satisfy py310 job
ansible-core>=2.17; python_version < '3.11' # GPLv3
ansible-core>=2.18,<2.20; python_version >= '3.11' # GPLv3
ansible-lint<26 # MIT
bandit!=1.6.0,>=1.1.0 # Apache-2.0
bashate>=0.5.1 # Apache-2.0
coverage!=4.4,>=4.0 # Apache-2.0
ddt>=1.0.1 # MIT
docker>=3.0.0 # Apache-2.0
hacking>=7.0.0,<=7.1.0 # Apache-2.0
oslotest>=3.2.0 # Apache-2.0
stestr>=2.2.0 # Apache-2.0
testtools>=2.2.0 # MIT
