PyYAML
python-barbicanclient>=3.0.1
python-ceilometerclient>=1.0.6
python-cinderclient>=1.1.0
python-glanceclient>=0.15.0
python-heatclient>=0.3.0
python-keystoneclient>=1.1.0
python-neutronclient>=2.3.11,<3
python-novaclient>=2.18.0,!=2.21.0
python-swiftclient>=2.2.0
testrepository>=0.0.18
testscenarios>=0.4
testtools>=0.9.36,!=1.2.0
