---
project_name: "murano"

####################
# Database
####################
murano_database_name: "murano"
murano_database_user: "murano"
murano_database_address: "{{ kolla_internal_fqdn }}:{{ database_port }}"


####################
# Docker
####################
murano_engine_image: "{{ docker_registry ~ '/' if docker_registry else '' }}{{ docker_namespace }}/{{ kolla_base_distro }}-{{ kolla_install_type }}-murano-engine"
murano_engine_tag: "{{ openstack_release }}"
murano_engine_image_full: "{{ murano_engine_image }}:{{ murano_engine_tag }}"

murano_api_image: "{{ docker_registry ~ '/' if docker_registry else '' }}{{ docker_namespace }}/{{ kolla_base_distro }}-{{ kolla_install_type }}-murano-api"
murano_api_tag: "{{ openstack_release }}"
murano_api_image_full: "{{ murano_api_image }}:{{ murano_api_tag }}"


####################
# OpenStack
####################
murano_admin_endpoint: "{{ admin_protocol }}://{{ kolla_internal_fqdn }}:{{ murano_api_port }}"
murano_internal_endpoint: "{{ internal_protocol }}://{{ kolla_internal_fqdn }}:{{ murano_api_port }}"
murano_public_endpoint: "{{ public_protocol }}://{{ kolla_external_fqdn }}:{{ murano_api_port }}"

murano_logging_debug: "{{ openstack_logging_debug }}"

murano_keystone_user: "murano"

openstack_murano_auth: "{'auth_url':'{{ openstack_auth.auth_url }}','username':'{{ openstack_auth.username }}','password':'{{ openstack_auth.password }}','project_name':'{{ openstack_auth.project_name }}'}"
