[DEFAULT]
debug = {{ keystone_logging_debug }}

# NOTE(elemoine) log_dir alone does not work for Keystone
log_file = /var/log/kolla/keystone/keystone.log

secure_proxy_ssl_header = HTTP_X_FORWARDED_PROTO
admin_token = {{ keystone_admin_token }}

[database]
connection = mysql+pymysql://{{ keystone_database_user }}:{{ keystone_database_password }}@{{ keystone_database_address }}/{{ keystone_database_name }}
max_retries = -1
