{
    "command": "/usr/sbin/sshd -D",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/sshd_config",
            "dest": "/etc/ssh/sshd_config",
            "owner": "root",
            "perm": "0644"
        },
        {
            "source": "{{ container_config_directory }}/id_rsa.pub",
            "dest": "/var/lib/keystone/.ssh/authorized_keys",
            "owner": "keystone",
            "perm": "0600"
        }
    ]
}
