vrrp_script check_alive {
    script "/check_alive.sh"
    interval 2
    fall 2
    rise 10
}

vrrp_instance Floating {
    state MASTER
    interface {{ api_interface }}
    virtual_router_id 51
    priority {{ groups['haproxy'].index(inventory_hostname) }}
    advert_int 1
    virtual_ipaddress {
        {{ kolla_internal_address }}
    }
    track_script {
        check_alive
    }
}
