[rabbitmq_log_decoder]
type = "SandboxDecoder"
filename = "lua_decoders/os_rabbitmq_log.lua"

[rabbitmq_log_splitter]
type = "RegexSplitter"
delimiter = '\n(=[^=]+====)'
delimiter_eol = false

[rabbitmq_logstreamer_input]
type = "LogstreamerInput"
decoder = "rabbitmq_log_decoder"
splitter = "rabbitmq_log_splitter"
log_directory = "/var/log/kolla"
file_match = 'rabbitmq/rabbit*\.log'
differentiator = ['rabbitmq']
