[barbican_apache_log_decoder]
type = "SandboxDecoder"
filename = "lua_decoders/os_barbican_apache_log.lua"
    [barbican_apache_log_decoder.config]
    apache_log_pattern = '%{X-Forwarded-For}i %l %u %t \"%r\" %>s %b %D \"%{Referer}i\" \"%{User-Agent}i\"'

[barbican_apache_logstreamer_input]
type = "LogstreamerInput"
decoder = "barbican_apache_log_decoder"
log_directory = "/var/log/kolla"
file_match = 'barbican/barbican-apache-(?P<Service>.+)-access\.log\.?(?P<Seq>\d*)$'
priority = ["^Seq"]
differentiator = ["barbican-apache-", "Service"]
