# HAProxy writes its logs to Syslog, so the generic
# Syslog input set in heka-global.toml.j2 is used.

[haproxy_file_output]
type = "FileOutput"
message_matcher = "Fields[programname] =~ /(?i:haproxy)/"
path = "/var/log/kolla/haproxy/haproxy.log"
encoder = "syslog_encoder"
folder_perm = "755"
