[horizon_apache_log_decoder]
type = "SandboxDecoder"
filename = "lua_decoders/os_horizon_apache_log.lua"
    [horizon_apache_log_decoder.config]
    apache_log_pattern = '%{X-Forwarded-For}i %l %u %t \"%r\" %>s %b %D \"%{Referer}i\" \"%{User-Agent}i\"'

[horizon_apache_logstreamer_input]
type = "LogstreamerInput"
decoder = "horizon_apache_log_decoder"
log_directory = "/var/log/kolla"
file_match = 'horizon/(?P<Service>horizon.*)\.log\.?(?P<Seq>\d*)$'
priority = ["^Seq"]
differentiator = ["Service"]
