# provides support for local system logging
$ModLoad imuxsock
$AddUnixListenSocket /var/lib/kolla/rsyslog/log

$ModLoad imklog
$KLogPermitNonKernelFacility on
$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat
$RepeatedMsgReduction on

$template MuranoEngineFile,"/var/log/murano/murano-engine.log"
:syslogtag,contains,"murano-engine" ?MuranoEngineFile

$template MuranoApiFile,"/var/log/murano/murano-api.log"
:syslogtag,contains,"murano-api" ?MuranoApiFile

$template MagnumApiFile,"/var/log/magnum/magnum-api.log"
:syslogtag,contains,"magnum-api" ?MagnumApiFile

$template MagnumConductorFile,"/var/log/magnum/magnum-conductor.log"
:syslogtag,contains,"magnum-conductor" ?MagnumConductorFile

$template DynFile,"/var/log/syslog.log"
*.* {
  ?DynFile
  stop
}
