# provides support for local system logging
$ModLoad imuxsock
$AddUnixListenSocket /var/lib/kolla/rsyslog/log

$ModLoad imklog
$KLogPermitNonKernelFacility on
$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat
$RepeatedMsgReduction on

$template DynFile,"/var/log/syslog.log"
*.* {
  ?DynFile
  stop
}
