---
- name: Ensuring config directories exist
  file:
    path: "{{ node_config_directory }}/{{ item }}"
    state: "directory"
    recurse: yes
  with_items:
    - "cinder-api"
    - "cinder-backup"
    - "cinder-scheduler"
    - "cinder-volume"

- name: Copying over config.json files for services
  template:
    src: "{{ item }}.json.j2"
    dest: "{{ node_config_directory }}/{{ item }}/config.json"
  with_items:
    - "cinder-api"
    - "cinder-backup"
    - "cinder-scheduler"
    - "cinder-volume"

- name: Copying over cinder.conf
  merge_configs:
    vars:
      service_name: "{{ item }}"
    sources:
      - "{{ role_path }}/templates/cinder.conf.j2"
      - "{{ node_custom_config }}/global.conf"
      - "{{ node_custom_config }}/database.conf"
      - "{{ node_custom_config }}/messaging.conf"
      - "{{ node_custom_config }}/cinder.conf"
      - "{{ node_custom_config }}/cinder/{{ item }}.conf"
      - "{{ node_custom_config }}/cinder/{{ inventory_hostname }}/cinder.conf"
    dest: "{{ node_config_directory }}/{{ item }}/cinder.conf"
  with_items:
    - "cinder-api"
    - "cinder-backup"
    - "cinder-scheduler"
    - "cinder-volume"

- name: Check if policies shall be overwritten
  local_action: stat path="{{ node_custom_config }}/cinder/policy.json"
  register: cinder_policy

- name: Copying over existing policy.json
  template:
    src: "{{ node_custom_config }}/cinder/policy.json"
    dest: "{{ node_config_directory }}/cinder/policy.json"
  when:
    cinder_policy.stat.exists

- name: Copying over nfs_shares files for cinder_volume
  template:
    src: "{{ item }}"
    dest: "{{ node_config_directory }}/cinder-volume/nfs_shares"
  with_first_found:
    - files:
        - "{{ node_custom_config }}/nfs_shares.j2"
        - "{{ node_custom_config }}/cinder/nfs_shares.j2"
        - "{{ node_custom_config }}/cinder/cinder-volume/nfs_shares.j2"
        - "{{ node_custom_config }}/cinder/{{ inventory_hostname }}/nfs_shares.j2"
      skip: "{{ not enable_cinder_backend_nfs | bool }}"
