{
    "command": "sleep infinity",
    "config_files":[
        {
            "source": "{{ container_config_directory }}/rally.conf",
            "dest": "/etc/rally/rally.conf",
            "owner": "rally",
            "perm": "0600"
        }
    ]
}
