{
    "command": "gnocchi-statsd --logfile /var/log/kolla/gnocchi/gnocchi-statsd.log",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/gnocchi.conf",
            "dest": "/etc/gnocchi/gnocchi.conf",
            "owner": "gnocchi",
            "perm": "0600"
        }
    ]
}
