{
    "command": "/usr/bin/heat-api",
    "config_files": [
        {
            "source": "/opt/kolla/config_files/heat.conf",
            "dest": "/etc/heat/heat.conf",
            "owner": "heat",
            "perm": "0600"
        }
    ]
}
