{
    "command": "cinder-scheduler --config-file /etc/cinder/cinder.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/cinder.conf",
            "dest": "/etc/cinder/cinder.conf",
            "owner": "cinder",
            "perm": "0600"
        }
    ]
}
