{
    "command": "magnum-conductor --config-file /etc/magnum/magnum.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/magnum.conf",
            "dest": "/etc/magnum/magnum.conf",
            "owner": "magnum",
            "perm": "0600"
        }
    ],
    "permissions": [
        {
            "path": "/var/lib/magnum",
            "owner": "magnum:magnum",
            "recurse": true
        },
        {
            "path": "/var/log/kolla/magnum",
            "owner": "magnum:magnum",
            "recurse": true
        }
    ]
}
