[
  {kernel, [
    {inet_dist_use_interface, {% raw %}{{% endraw %}{{ hostvars[inventory_hostname]['ansible_' + api_interface]['ipv4']['address'] | regex_replace('\.', ',') }}}},
    {inet_dist_listen_min, {{ rabbitmq_cluster_port }}},
    {inet_dist_listen_max, {{ rabbitmq_cluster_port }}}
  ]},
  {rabbit, [
    {tcp_listeners, [
      {"{{ hostvars[inventory_hostname]['ansible_' + api_interface]['ipv4']['address'] }}", {{ rabbitmq_port }}}
    ]},
    {default_user, <<"{{ rabbitmq_user }}">>},
    {default_pass, <<"{{ rabbitmq_password }}">>},
    {cluster_partition_handling, autoheal}
  ]},
  {rabbitmq_management, [
    {listener, [
      {ip, "{{ hostvars[inventory_hostname]['ansible_' + api_interface]['ipv4']['address'] }}"},
      {port, {{ rabbitmq_management_port }}}
    ]}
  ]},
  {rabbitmq_clusterer, [{config, "/etc/rabbitmq/rabbitmq_clusterer.config"}]}
].
% EOF
