[discoverd]
database = inspector.sqlite3
os_auth_url = http://{{ kolla_internal_address }}:{{ keystone_public_port }}/v2.0
os_username = {{ openstack_auth.username }}
os_password = {{ openstack_auth.password }}
os_tenant_name = {{ openstack_auth.project_name }}
identity_uri = {{ openstack_auth.auth_url }}

# Note: this will be in the firewall section once upgraded to inspector
# unsure of the correct interface here
dnsmasq_interface = {{ api_interface }}
