{
    "command": "/usr/bin/ironic-conductor",
    "config_files": [
        {
            "source": "/opt/kolla/config_files/ironic.conf",
            "dest": "/etc/ironic/ironic.conf",
            "owner": "ironic",
            "perm": "0600"
        }
    ]
}
