{
    "command": "/usr/bin/swift-account-auditor /etc/swift/account-auditor.conf --verbose",
    "config_files": [
        {
            "source": "/opt/kolla/swift/swift.conf",
            "dest": "/etc/swift/swift.conf",
            "owner": "swift",
            "perm": "0640"
        },
        {
            "source": "/opt/kolla/config_files/account.ring.gz",
            "dest": "/etc/swift/account.ring.gz",
            "owner": "swift",
            "perm": "0640"
        },
        {
            "source": "/opt/kolla/config_files/account-auditor.conf",
            "dest": "/etc/swift/account-auditor.conf",
            "owner": "swift",
            "perm": "0640"
        }
    ]
}
