{
    "command": "swift-account-reaper /etc/swift/account-reaper.conf --verbose",
    "config_files": [
        {
            "source": "/var/lib/kolla/swift/account.ring.gz",
            "dest": "/etc/swift/account.ring.gz",
            "owner": "swift",
            "perm": "0640"
        },
        {
            "source": "{{ container_config_directory }}/swift.conf",
            "dest": "/etc/swift/swift.conf",
            "owner": "swift",
            "perm": "0640"
        },
        {
            "source": "{{ container_config_directory }}/account-reaper.conf",
            "dest": "/etc/swift/account-reaper.conf",
            "owner": "swift",
            "perm": "0640"
        }
    ]
}
