{
    "command": "/usr/bin/swift-object-server /etc/swift/object-server.conf --verbose",
    "config_files": [
        {
            "source": "/var/lib/kolla/swift/swift.conf",
            "dest": "/etc/swift/swift.conf",
            "owner": "swift",
            "perm": "0640"
        },
        {
            "source": "{{ container_config_directory }}/container.ring.gz",
            "dest": "/etc/swift/container.ring.gz",
            "owner": "swift",
            "perm": "0640"
        },
        {
            "source": "{{ container_config_directory }}/object.ring.gz",
            "dest": "/etc/swift/object.ring.gz",
            "owner": "swift",
            "perm": "0640"
        },
        {
            "source": "{{ container_config_directory }}/object-server.conf",
            "dest": "/etc/swift/object-server.conf",
            "owner": "swift",
            "perm": "0640"
        }
    ]
}
