{
    "command": "swift-proxy-server /etc/swift/proxy-server.conf --verbose",
    "config_files": [
        {
            "source": "/var/lib/kolla/swift/account.ring.gz",
            "dest": "/etc/swift/account.ring.gz",
            "owner": "swift",
            "perm": "0640"
        },
        {
            "source": "/var/lib/kolla/swift/container.ring.gz",
            "dest": "/etc/swift/container.ring.gz",
            "owner": "swift",
            "perm": "0640"
        },
        {
            "source": "/var/lib/kolla/swift/object.ring.gz",
            "dest": "/etc/swift/object.ring.gz",
            "owner": "swift",
            "perm": "0640"
        },
        {
            "source": "{{ container_config_directory }}/swift.conf",
            "dest": "/etc/swift/swift.conf",
            "owner": "swift",
            "perm": "0640"
        },
        {
            "source": "{{ container_config_directory }}/proxy-server.conf",
            "dest": "/etc/swift/proxy-server.conf",
            "owner": "swift",
            "perm": "0640"
        }
    ]
}
