{
    "command": "glance-api",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/glance-api.conf",
            "dest": "/etc/glance/glance-api.conf",
            "owner": "glance",
            "perm": "0600"
        }{% if enable_ceph | bool %},
        {
            "source": "{{ container_config_directory }}/ceph.client.glance.keyring",
            "dest": "/etc/ceph/ceph.client.glance.keyring",
            "owner": "glance",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/ceph.conf",
            "dest": "/etc/ceph/ceph.conf",
            "owner": "glance",
            "perm": "0600"
        }{% endif %}
    ]
}
