{
    "command": "/usr/bin/glance-api",
    "config_files": [
        {
            "source": "/opt/kolla/config_files/glance-api.conf",
            "dest": "/etc/glance/glance-api.conf",
            "owner": "glance",
            "perm": "0600"
        }{% if enable_ceph | bool %},
        {
            "source": "/opt/kolla/config_files/ceph.client.glance.keyring",
            "dest": "/etc/ceph/ceph.client.glance.keyring",
            "owner": "glance",
            "perm": "0600"
        },
        {
            "source": "/opt/kolla/config_files/ceph.conf",
            "dest": "/etc/ceph/ceph.conf",
            "owner": "glance",
            "perm": "0600"
        }{% endif %}
    ]
}
