{
    "command": "/usr/bin/glance-api",
    "config_files": [
        {
            "source": "/opt/kolla/config_files/glance-api.conf",
            "dest": "/etc/glance/glance-api.conf",
            "owner": "glance",
            "perm": "0600"
        }
    ]
}
