[DEFAULT]
# L3 Agent
router_delete_namespaces = true
#router_distributed = true
enable_metadata_proxy = true
agent_mode = legacy
external_network_bridge = br-ex
#ha_vrrp_auth_password = c0b4e8f922a7b03d1def93b516da81d8103c83c2
