---
- include: register.yml
  when: inventory_hostname in groups['mistral-api']

- include: config.yml
  when: inventory_hostname in groups['mistral-api'] or
        inventory_hostname in groups['mistral-engine'] or
        inventory_hostname in groups['mistral-executor']

- include: bootstrap.yml
  when: inventory_hostname in groups['mistral-api']

- include: start.yml
  when: inventory_hostname in groups['mistral-api'] or
        inventory_hostname in groups['mistral-engine'] or
        inventory_hostname in groups['mistral-executor']
